<h1> Example of Dropzone File Upload in Angular</h1>

<section class="file-upload">
  <ngx-dropzone [maxFileSize]="allowedSize" [accept]="allowedTypes" (change)="onChange($event)">
    <ngx-dropzone-label>Choose a file</ngx-dropzone-label>
    <ngx-dropzone-preview
      *ngFor="let f of files"
      [removable]="true"
      (removed)="onRemove(f)">
      <ngx-dropzone-label>filename {{ f.name }}</ngx-dropzone-label>
      <ngx-dropzone-label>file size ({{ f.size }}) bytes</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
</section>
